.App {
  text-align: center;
  
}
#header{
  background-image: linear-gradient(to bottom,black ,rgb(0, 15, 0) ,rgb(2, 39, 2) );
  padding:10px 0px;
}

h1{
  margin:10px 0px;
  font-weight: bolder;
  
  color:white;
}
.lead{
  color:grey;
}
#searchbox{
  padding-right:0px
}
#button{
  padding-left:0px;
}